/********************** GLOBAL *****************************/
/********************** GLOBAL *****************************/
/********************** GLOBAL *****************************/
[v-cloak] {
  /*display: none;*/
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 2.50s ease-in-out;
  transition: all 2.50s ease-in-out;
}

.opacity-trans {
  -moz-transition: all 2.50s ease-in-out;
  transition: all 2.50s ease-in-out;
}


a:hover {

	cursor:pointer;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  /*outline-color: #f40000;*/
}


body {
  text-rendering: optimizeLegibility;
  font-family: "Open Sans","Helvetica Neue","Arial", sans-serif;
  color:#eeeeee;
  font-size:14px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 2500px;
  margin:0px;
  padding:0px;

  background-color:#191C20;

}

button {
  background-color:#fe001a;
  color:#eee;
  border:0px;
  width:100%;
  font-weight: bold;
  font-size: 22px;
  padding:10px;
}

input, textarea, select {
  font-family: "Open Sans","Helvetica Neue","Arial", sans-serif;
  font-size: 16px;
  width:100%;
  border: 1px solid gray;
  box-sizing: border-box;

    background-color:#1E2127;
    color:#eee;
    padding:5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #bbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bbb;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bbb;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bbb;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #bbb;
}

.input-box {
  margin-bottom:10px;
}

.form-container {
  padding:20px;
}

a {
  color:#f40000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 24px;
}

.navigation a {
  color:#000000;
  font-size:17px;
  font-weight: 600;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;

}

h2 {

  color: #3b3954;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;

}

h3 {

  color: #3b3954;
  font-weight: 600;
  font-size: 24px;

}

.content {
  margin-top:30px;
}

.container {
  width:1170px;
  margin:0px auto;
  padding:0px;
}

.gauge-label {
  z-index: -1;
  width: 280px;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 13%;
  top: 135px;
}


.field-extension {
    z-index: 1345;
	  background-color: hsl(0, 0%, 19%);
    position: absolute;
    width: 89%;
}

.extension-box {

  width:100%;
  border:1px solid #bbb;
  border-top:0px;
  padding:8px;
  cursor:pointer;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}

.extension-box:hover {


}

.poster-cell img {
  height:75px;
}

.poster-cell {
  margin:10px 10px 10px 0px;
}

.post {
  border-bottom: 1px solid #353535;
}

.score-cell {
  text-align: right;
  font-weight: 600;
  font-size:24px;
}

.form-container {
  height:20px;
  overflow: hidden;
}

.posts-container {
  margin:0px 20px;
}

.formActive {
  height:auto;
}

.posts-container table {
  width:100%;
  z-index: 23423;
  background-color: #191C20;
}

.author-text {
  color: rgb(148, 148, 148);
}

.show-title-text {
  font-weight: 700;
}

/****************** authentication ********************/
/****************** authentication ********************/
/****************** authentication ********************/

.auth-modal-container {
 display: none;
}

.auth-modal-container.modal-active {
  display: block;
}

.auth-modal{
  padding: 20px 0px 20px 0px;
  text-align: center;
  width: 80%;
  background-color: gray;
  margin: 154px auto;
  box-shadow: 0 0 13px 5px rgba(255, 255, 255, 0.73);
  position: absolute;
  left: 0px;
  right: 0px;

}

.auth-message-detail {
  font-weight: 700;
}

.auth-cancel {
  text-decoration: underline;
      font-size: 11px;
      color: #191c20;
}

.user-box {
  font-size: 11px;
  position: fixed;
  bottom:0px;
  z-index: 2346;
  background-color:#1E2127;
  border-top:1px solid gray;
  width:100%;
  padding:4px;
  box-sizing: border-box;


}

.logout-button {
  text-decoration: underline;
  float:right;
  font-size: 11px;
  color:gray;
}
