<!DOCTYPE HTML>
<html>
	<head>
		<title>BragThat</title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css?v=1.0">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="apple-mobile-web-app-capable" content="yes">

</head>
<body class="index">

<div id="target">

	<div class="form-container" :class="{formActive:isFormOpen}">
		<div class="input-box">
			<input v-on:keyup="fieldUpdated" type="text" placeholder="Find Your Thing" v-model="searchQuery" @blur="isInputActive = false" @focus="isInputActive = true; isFormOpen = true">
			<div class="field-extension" v-if="isInputActive">
				<div v-on:mousedown="chooseOption(index)" class="extension-box" v-for="(show,index) in s.searchResults" v-if="show.vote_count >= 20">
					<div class="extention-image"></div>
					<div class="extension-name">{{show.original_name || show.title}}</div>
				</div>
			</div>
		</div>

		<div class="input-box">
			<textarea v-model="comment" placeholder="Why is it awesome?"></textarea>
		</div>

		<div class="gauge-label">
			{{gaugeLabel}}
		</div>
		<v-touch tag="div" class="gauge-div" v-on:pan="setGauge" v-on:tap="setGauge">
			<canvas id="gauge" width=335 height=150></canvas>
		</v-touch>
		<div>
			<button v-on:click="submitPost">BRAG THAT.</button>
		</div>




	</div>
	<div class="posts-container">
		<div class="post" v-for="(post,index) in s.posts">
			<table>
				<tr>
					<td>
						<div class="poster-cell">
							<img :src="post.show.imgURL" />
						</div>
					</td>
					<td>
						<div class="detail-cell">

							<div class="show-title-text">{{post.show.title}}</div>
							<div class="show-comment-text">{{post.comment}}<span class="author-text"> <nobr> -{{post.author}}</nobr></span></div>


						</div>
					</td>
					<td>

						<div class="score-cell">

							{{post.rating}}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

</div><!--end div id=target -->

<!-- ************************************************************************************ -->
<!-- **********************************  SCRIPTS  *************************************** -->
<!-- **********************************  SCRIPTS  *************************************** -->
<!-- **********************************  SCRIPTS  *************************************** -->
<!-- ************************************************************************************ -->

	<script src="js/vue.js"></script>
	<script src="js/gauge.min.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/vue-router-2.0.1.js"></script>
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/tweenjs-0.6.2.combined.js"></script>
	<script src="js/jquery.color-2.1.2.js"></script>
	<script src="js/js.cookie.js"></script>
	<script src="js/flickity.pkgd.min.js"></script>

	<script src="js/hammer.min.js"></script>
	<script src="js/vue-touch.js"></script>

<!-- ---------------------------------------------- -->
  <script src="js/data.js"></script>
	<script src="js/index.js"></script>

</body>
</html>
